<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application>
<!--        <activity-->
<!--            android:name="com.guitarooman14.plugins.usbcamera.USBCameraActivity"-->
<!--            android:configChanges="orientation"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/Theme.AppCompat.NoActionBar"-->
<!--        />-->
        <activity
            android:name="com.guitarooman14.plugins.usbcamera.UsbCameraRecorderActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
    </application>

</manifest>